@font-face {
    font-family: IcoMoon;
    src: url(../fonts/icomoon.eot);
    src: url(../fonts/icomoon.woff) format("woff");
    src: url(../fonts/icomoon.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Brush;
    src: url(../fonts/brush.ttf) format("truetype");
    font-display: swap;
}
