/// variables ///

$fullHeight: 100%;
$width: 100%;
$border: #f0c840;
$colorUnamo: rgb(0, 193, 179);
$overheaderColor: rgba(218, 165, 32, 0.7);
$mobile: 568px;

/// mixins ///

@mixin smoothly-appearing {
    animation: appear 0.3s 1;
    animation-timing-function: ease-in-out;
}

/// general tag styles ///
* {
    box-sizing: border-box;
}
html,
body,
#root {
    height: $fullHeight;
    margin: 0;
    padding: 0;
}

html {
    background: url(../images/background.webp) no-repeat center center fixed;
    background-size: cover;
}
@media (min-width: 760px) and (max-width: 1024px) {
    html {
        background: url(../images/background_tablet.webp) no-repeat center center fixed;
        background-size: cover;
    }
}
@media (min-width: 481px) and (max-width: 759px) {
    html {
        background: url(../images/background_small.webp) no-repeat center center fixed;
        background-size: cover;
    }
}
@media (max-width: 480px) {
    html {
        background: url(../images/background_mobile.webp) no-repeat center center fixed;
        background-size: cover;
    }
}

html {
    @media (min-width: 570px) {
        font-size: 16px;
    }

    @media (min-width: 320px) and (max-width: 569px) {
        font-size: calc(12px + 4 * ((100vw - 320px) / 250));
    }
}

table {
    border-collapse: collapse;
}

*:focus {
    outline: 2px ridge #0ca4f6;
    outline-offset: 1px;
    z-index: 2000;
}

/// fonts ///

@font-face {
    font-family: IcoMoon;
    src: url(../fonts/icomoon.eot);
    src: url(../fonts/icomoon.woff) format("woff");
    src: url(../fonts/icomoon.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Brush;
    src: url(../fonts/brush.ttf) format("truetype");
    font-display: swap;
}

.IcoMoon {
    font-family: IcoMoon;
}

.icon-Cross:before {
    content: "\e904";
    margin: 0.5rem;
    font-family: IcoMoon;
    cursor: pointer;
    color: #ff0801;
}

tbody {
    color: #495f75;
    background-color: #c2f1db;
}
.icon-Sort:before {
    content: "\e903";
    margin: 0.5rem;
    font-family: IcoMoon;
    cursor: pointer;
    color: #fbea58;
}

.landing_message {
    font-family: brush;
    font-size: 120px;
    font-weight: initial;
    @media (min-width: 320px) and (max-width: 1441px) {
        font-size: calc(50px + 85 * ((100vw - 320px) / 1120));
    }
    background: -webkit-linear-gradient(red, #154caf);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.AddPersonForm__error-message {
    color: red;
    background-color: white;
    border-radius: 2px;
    padding: 0.5rem;
}
